* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
    overflow-x: hidden; /* yeh horizontal scroll ko band krta h */
}

@font-face {
  font-family: "Plain Light";
  src: url("fonts/plain-light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Silk Serif";
  src: url("fonts/silkserif-lightitalic-webfont.ttf") format("truetype");
}

/* CURSOR */
#cursor {
  height: 2.6vw; /* means the height will always be 5% of the viewport width, regardless of screen height.*/
  width: 2.6vw;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.632);
  position: fixed;
  z-index: 999;

  mix-blend-mode: difference; /* isse white text k upar bhi cursor dikh rha h => element k color ko background k color se subtract kr k ek ulta (inverted) ya contrast effect dikhata h */

  transform: translate(-50%, -50%);
}

/* LOADER START */

#loader {
  height: 100%;
  width: 100%;
  background-color: #000000;
  position: fixed;
  z-index: 999;
  padding: 16vh 7vw;

  /*Padding - Agar tum chahte ho element parent ke andar thoda shift ho (edge se door ho) */
  /*Margin - Agar tum chahte ho element parent se thoda distance pe rahe (baahar ki taraf space chahiye) */
}

/*-------------- YOUR WEB EXPERIENCE IS LOADING RIGHT ---------------*/

.lines {
  height: fit-content;
  /* tells an element: Don’t stretch to fill space. Don’t shrink too tight either. Just wrap yourself perfectly around your content — no more, no less, just right */

  overflow: hidden; /* tells an element to hide any of its own overflowing content, in this case it is the h1 */

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4vw;
}

.lines h1 {
  font-size: 7vw; /* Font size uses vw instead of vh because width is a more stable and meaningful measure for scaling readable content across devices. */
  text-transform: uppercase;
}

/*------------------------- NOW ---------------------- */

.lines h2 {
  font-size: 5.48vw;
  font-weight: 800;
  text-transform: uppercase;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.2px #fff; /* property jo text k upar border banane ka kaam krti h */
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }

  48% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.2px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "Plain Light";
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }

  100% {
    font-family: "Plain Light";
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
}

/*-------------------------- 00-100 ----------------------------*/

#line1-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#line1-part1 #one,
#line1-part1 #two {
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 500;
}

/*-------------------------- 00 --------------------------*/

#line1-part1 #one {
  width: 5vw; /* Timer ki width ki h taki adjacent elements (like "your") static hojye. Agrtimer wale element ko fixed width nai di to hr update k time element ka size thoda bht change hoga aur uske adjacent text "your" bhi layout ke hisaab se push/move hoga */

  text-align: right; /* taki timer ka 1st half (00) 2nd half (100) k taraf inclined ho */
}

/* LOADER ENDS */

#main {
  position: relative; /* taki Locomotive uske andar k elements ka position aur animation sahi se calculate kr sake. Agar aap ye nai dogi, to animations glt jgha dikhne lgti h ya scroll effect kaam nai krta*/

  background-color: #000000;
}

/* PAGE 1 START */

#page1 {
  height: 100vh; /*parent ko height nai dete therefore baccho ko vh me dena % me nai aur width % me*/
  width: 100%;
  position: relative;
  background-color: #151515;
}

/* ---------------------NAV BAR---------------------------- */

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.3vw 8vw;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3vw;
}

#nav-part2 h4 {
  font-weight: 500;
  font-size: 1vw;
}

/* ----------------------- HERO SECTION ---------------------- */

.hero {
  width: 72%;
  margin-left: 28%;

  height: fit-content; /* tells an element: Don’t stretch to fill space. Don’t shrink too tight either. Just wrap yourself perfectly around your content — no more, no less, just right */

  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}

.hero:nth-child(2) {
  margin-top: 17vh;
}

.hero h1 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;

  line-height: 7vw; /* Use `line-height` in `vw` (not `vh`) when `font-size` is also in `vw`, so that both scale together with screen width and keep the line spacing balanced — using `vh` can make spacing look odd since it reacts to screen height, not width. */
}

.hero h2 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7vw;
  border-bottom: 0.6vw solid #ededed;
  letter-spacing: 0.3vw;
  padding-bottom: 0.3vw;
  transition: all 0.3s ease-in-out;
}

.hero h3 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7vw;
}

.hero h2:hover {
  -webkit-text-stroke: 1px #fff;
  font-weight: 500;
  color: transparent;
  border-bottom-color: transparent;
  transition: all 0.3s ease-in-out;
}

/* ----------------------- PAGE 2 - video ---------------------- */

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 16vh;
  position: relative;
  background-color: #151515;
}

#video-container {
  height: 70vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  overflow: hidden;
}

#video-container img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: 1;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-cursor {
  height: 10vw;
  width: 10vw;
  background-color: #ffa63d;
  border-radius: 50%;
  position: absolute;
  top: 8%;
  left: 80%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-cursor i {
  font-size: 2vw;
}

/* ----------------------------- PAGE 3 ----------------------- */

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #383838;
  position: relative;
}

/* ------------------------ PAGE 4: about obys------------------------ */

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding-top: 15vh;
  margin-bottom: -28vh
}

#page4-content {
  width: 72vw;
  margin-left: 28%;
  position: relative;
}
  
/* page 4 heading, underline and content */
#page4-content h1 {
  text-transform: uppercase;
  font-size: 7vw;
}

#page4-content .underline {
  width: 100%;
  height: 0.5px;
  background-color: #ffffffd2;
  margin: 5vw 0;
}

#page4-content > p {
  /* > ka mtlb h page4-content k andar ka direct p child uske alwa koi p h to use consider na kre */
  font-size: 2.3vw;
  width: 55%;
  margin-bottom: 4vw;
}

/* page 4 img and side para */
#page4-hero {
  display: flex;
}

#page4-hero img {
  width: 48%;
}

#page4-hero p {
  font-size: 0.98vw;
  width: 30%;
  line-height: 1.6vw;
  margin-left: 1.8vw;
}

/* page 4 blue div */
#blue-div {
    background-color: #3F7DF4;
    width: 46%;
    padding-top:2.7vw;
    padding-right: 3.7vw;
    padding-left: 3.7vw;
    padding-bottom: 4.2vw;
    position: relative;
    margin-top: -28vh;
    margin-left: 21vw;
}

.blue-div-element {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5vw 0;
    border-bottom: 1px solid #F5F8FE;
}

.blue-div-element h4 {
    font-size: 1.5vw;
    font-weight: 500;
}
.blue-div-element p {
    width: 40%;
    font-size: 0.98vw;
}


/* -----------------PAGE 5 - infinite motion ------------------ */

#page5 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 5vw 0;
}